{%extends 'base.html'%}


{%block content%}
{% for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    
{%endfor%}
<!-- sabse pahle agar name exist karta h toh usko print karo varna name accept karo  -->
<br/><br/><br/>
    <center><h1>Login</h1></center>
    <br/><br/><br/>
<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded small">
    <!-- action="{{ url_for('add_user') }} -->
 <form method="POST"> 
    <!-- crsf tag ko laana jo humne secret key banai thi vo -->
    {{form.hidden_tag()}}
    
    {{form.username.label(
        class="form-label"
    )}}
    {{form.username(
        class="form-control"
    )}}
    <br/>
    {{form.password.label(
        class="form-label"
    )}}
    {{form.password(
        class="form-control"
    )}}
    
    <br/>
     <!--ab submit button  -->
    {{form.submit(
        class="btn btn-dark"
    )}}
    
 </form>
</div>
 
{%endblock%}